{% extends 'base-main.html' %}
{% load static %}
{% block title %} Forget Password {% endblock %}

{% block content %}
<div style="text-align:center"><br><br><br><br><br><br><br><br>
  {% if validlink %}
    <h3>Change password</h3><br><br>
    <form method="post">
      {% csrf_token %}
      <input type="password" name="new_password1" id="id_new_password1" class="name-PFP" placeholder="New Password" ><br><br>
	<input type="password" name="new_password2" id="id_new_password2" class="name-PFP" placeholder="New Password Again" ><br> <br>
      <input type="submit" class="submit-PFP" value="Change Password">
	{% if form.errors %}
		<h3>Error in password, Please try with stronger password that contains Capital letter and symbol with numbers</h3>
	{% endif %}
    </form>
  {% else %}
    <p>
      The password reset link was invalid, possibly because it has already been used.
      Please request a new password reset.
    </p>
  {% endif %}
  </div><br><br><br><br><br>
{% endblock %}


{% block script %}
   <script src="{% static 'js/appShop.js' %}"></script> 
{% endblock %}