{% extends 'base-main.html' %}
{% load static %}
{% block extrafiles %} <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<link rel="stylesheet" href="{% static 'css/topper.css' %}">
<script src="{% static 'js/topper.js' %}"></script>

 {% endblock %}
{% block title %} Forget Password {% endblock %}

{% block content %}
{% if invalid_mail %}

<script>
Topper({
	  title: 'Error',
	  text: 'A user with this E-mail not found.',
	  style: 'danger',
	  type: 'top',
	  autoclose: false
	});
</script>
{% endif %}


	<!--Reset Password--><br><br><br><br><br><br>
	<div style="text-align:center">
  	 	<h2 class="font-weight-bold mt-3">Reset Password</h2>
		<hr><br><br><br>
		<p>Forgotten your password? Enter your email address below, and we'll email instructions for setting a new one.</p>
        <form method="POST">
            {% csrf_token %}
            <input type="email" name="email" id="id_email" class="name-PFP" placeholder="Your Email" >
            <input type="submit" class="submit-PFP" value="Send Email">
        </form><br><br><br><br><br><br>
  	</div> 

{% endblock %}


{% block script %}
   <script src="{% static 'js/appShop.js' %}"></script> 
{% endblock %}