{% extends 'base-main.html' %}
{% load static %}
{% block title_ %}
	Books Hall | Pay Using Paypal
{% endblock %}


{% block content %}
<div style="text-align:center;"><br><br><br><br><br><br>

	

	<h1>Your Account Successfully Activated</h1>
	<p>We have activated your account, You may now <a href="{% url 'accounts:sign-user' %}">Sign In</a> to your account.</p>
<i class="fas fa-check" style="font-size: 100px;color: green;"></i>
<br><br><br><br><br><br>
</div>
{% endblock %}



{% block script %}
   <script src="{% static 'js/appShop.js' %}"></script> 
{% endblock %}