{% extends 'base-main.html' %}

{% load static %}

{% block extrafiles %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<link rel="stylesheet" href="{% static 'css/topper.css' %}">
<script src="{% static 'js/topper.js' %}"></script>

{% endblock %}

{% block title %} Books Hall | All Products {% endblock %}
{% block content %}
    <form method='get' action="" class="category-form-SP">
        <label for="category-label-SP">Catregories:</label>
        <select name="cat" id="cat">
            <option value="all">All</option>
		{% for all_cat in all_cat %}
                
                <option value="{{all_cat.category_name}}">{{all_cat.category_name}}</option>
			{% endfor %}
        </select>
	<button type='submit'>Search</button>
    </form>
    
    <div class="shop-page">
        <div class="category-bar-SP">
             <ul class="category-list-SP">
		<a href="{% url 'main:all_books' %}"><li class="category-list-item-SP">All</li></a>
			{% for all_cat in all_cat %}
                
                <a href="?cat={{all_cat.category_name}}"><li class="category-list-item-SP">{{all_cat.category_name}}</li></a>
			{% endfor %}
            </ul>
        </div>
        <div class="products-side-SP">
	{% for books in page_obj %}
           
		<div class="book-container-SP">
                <a href="{% url 'main:book' books.slug %}"><img  class="book-img-SP" src="{{ books.main_image.url }}" alt="Image"></a> 
                 <div class="book-info-IA-SP">
                     <ul class="book-info-SP">
                         <li class="book-title-SP">{{ books.title }}</li>
                         <li class="book-author-SP">{{ books.author }}</li>
                         <div class="price-container">
				{% if books.discount_price %}
                            <li class="book-price-SP" style="text-decoration: line-through; text-decoration-thickness: 15%;"><span>EGP</span>{{ books.price }}</li>
                            <li class="discount-price-SP">EGP {{ books.discount_price }}</li>

				{% else %}
			    <li class="book-price-SP"><span>EGP</span>{{ books.price }}</li>
				{% endif %}
                         </div>  
                     </ul>
                     <ul class="book-IA-SP">
                        <li><a class="wishlist-btn" id="{{ books.id }}"> {% if books.id in my_wishlist %}<i class="fas fa-bookmark SP"> {% else %}<i class="far fa-bookmark SP"> {% endif %}</i></a></li>
                        {% if books.in_stock_number > 0 and books.is_product_live == 1 %}<form method='post' action='{% url 'cart:cart_add' books.id %}'>{%csrf_token%}
                            <button class="add-to-cart-SP" type='submit'>
                                +
                            </button><input type="hidden" name="quantity" value="1">
                         </form> {% endif %}
                     </ul>
                 </div>
             </div>
	{% endfor %}

        </div>
    </div>
    <div class="page-numbers">
<!--
        <li class="page-number">1</li>
        <li class="page-number">2</li>
        <li class="page-number">3</li>
        <li class="page-number">4</li>
        <li class="page-number">5</li>
-->
        {% if page_obj.paginator.num_pages != 1 and page_obj.number != 1 %}
        <a class="btn btn-secondary" href="?page=1"><li class="page-number">First</li></a>
        {% endif %}
        {% for i in pagin_range %}
        <a class="btn btn-secondary" href="?page={{i}}"><li class="page-number" {% if i == page_obj.number%} style="color:red" {%endif %}>{{i}}</li></a>
        {% endfor %}
        {% if page_obj.number != page_obj.paginator.num_pages and page_obj.paginator.num_pages != 1 %}
        <a class="btn btn-secondary" href="?page={{ page_obj.paginator.num_pages }}"><li class="page-number">Last</li></a>
        {% endif %}

        <!--
	<div class="pagination">
    		<span class="step-links">
        {% if page_obj.has_previous %}
            <a class="btn btn-secondary" href="?page=1">&laquo; First | </a>
            <a class="btn btn-danger" href="?page={{ page_obj.previous_page_number }}">Previous | </a>
        {% endif %}

        <span class="current">
            Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.

        </span>

        {% if page_obj.has_next %}
            <a class="btn btn-primary" href="?page={{ page_obj.next_page_number }}"> | Next | </a>
            <a class="btn btn-secondary" href="?page={{ page_obj.paginator.num_pages }}">Last &raquo;</a>
        {% endif %}
    </span>
    -->
  </div>
    </div>





<!-- AJAX REQUEST -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script>
function abs(title,msg,color){
Topper({
	  title: title,
	  text: msg,
	  style: color,
	  type: 'top',
	  autoclose: true
	});
}
</script>
<script>
// AJAX CALL
$('.wishlist-btn').click(function(){
{% if user.is_authenticated %}
$.ajax({
             type: "POST",
             url: "{% url 'accounts:wish-req' %}",
             data: {'wishlist-id': this.id,'csrfmiddlewaretoken': '{{ csrf_token }}'},
             dataType: "json",
             context: this,
             success: function(response) {
		if(response.status == 'success'){
		$("#"+ this.id +" i.far").removeClass("far").addClass("fas");
		abs('Done', 'Item addd to your wishlist.', 'success');
		}
		else{
		$("#"+ this.id +" i.fas").removeClass("fas").addClass("far");
		abs('Done', 'Item removed from your wishlist.', 'danger');
                  }  


              }

        });
{% else %}
abs('Error', 'You need to login to add to WishList', 'danger');
{% endif %}

  })
</script>



{% endblock %}
{% block script %}
   <script src="{% static 'js/appShop.js' %}"></script> 
{% endblock %}
